<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<script type="text/javascript" src="./js/iUnderscore.js"></script>
<script type="text/javascript" src="./js/jquery-2.0.3.js"></script>
<script type="text/javascript">
    //1.使用字符串逃逸防止XSS跨域脚本攻击
    var obj={name:"<script>alert(1)<\/script>"};
    var result= _.escape(obj.name);//用户输入的html字符串转变为普通字符串；
    $("body").append(result);

    //2.字符串反逃逸（编译）。
    var str= _.unescape("&amp;&amp;");
    console.log(str);

    //3.template模板引擎原理
    //解析规则----模板替换原理
    var rules = {
        //规则   插入变量        正则
        interpolate:/\{\{([\s\S]+?)\}\}/
        //  植入js逻辑代码
        //  字符串逃逸
    }

    console.log(rules.interpolate.source)
    //最终的正则匹配/\{\{([\s\S]+?)\}\}|植入js逻辑代码|字符串逃逸/
    var matcher =  new RegExp([rules.interpolate.source].join("|"),"g");
    var template = "hello{{name}}";
    var data = {name:"LQ"}
    //模板编译    渲染
    function render(template,data){    //模板编译    渲染
        //match  第一个参数与正则模式相匹配的文本,interpolate 与正则模式子表达式相匹配的文本,offset      正则模式与字符串所相匹配的第一个字符的位置
        //stringobj
        //模板替换
        return template.replace(matcher,function(match, interpolate ){
            console.log(data[interpolate]);
            return data[interpolate];
        })
    }
    console.log(render(template,data));

    //4.函数实例3种方式:
    //支持模板中植入js逻辑代码 ?依靠function做字符串的拼接   new Function

    //(1)函数声明 函数对象
    function fn(name){
        console.log("hello"+name)
     }
     fn("函数声明");

     //(2)函数表达式  函数对象
     var fn1 = function(name){
         console.log("hello"+name)
     }
     fn1("函数表达式");

     //(3)函数构造
     var body = "console.log('hello'+name)";
     //var body = "alert'hello'+name'";//通过报错可以看到它所执行的匿名函数体
    //等同于：(function anonymous(name){console.log("hello"+name)});
     var fn2=new Function("name",body);    //参数arg1,,arg2...  最后一个参数是函数的主体内容
     fn2("函数构造器");


    //5.模板函数
    //(1)模板函数体字符串:绑定变量数据
    function variable(obj,_){
        var _t,_p='';with(obj||{}){
            _p+=''+((_t=( name )) ==null?'':_t)+ '';
        }
        return _p;
    }
    console.log(variable({name:"LQ come in"}));

    //(2)模板函数体字符串:字符串的逃逸
    function escape(obj,_){
        var _t,_p='';
        //source   主体逻辑
        with(obj||{}){
            _p+=''+((_t= name) ==null?'':_.escape(_t))+'';
        };
        return _p;   //interpolate   hello: max
    }
    console.log(escape({name:"<a>"},_));

    //(3)模板字符串  js逻辑代码
    var FNbody=function(){console.log("执行JS");};
    function evalute(obj,_){
        var _t,_p='';
        //source   主体逻辑
        with(obj||{}){
            _p+='';
            FNbody();
            _p+='';
        };
        return _p;   //interpolate   hello: max
    }
    evalute();

    //6.template模板引擎
    var compile = _.template("绑定变量数据': <%= name %> is early <%= name %> ");   //模板函数   编译
    var html = compile({name:"LQ come here"});   //渲染
    console.log(html)

    var compile = _.template("字符串逃逸\\\\: <%-value %>");   //模板函数   编译
    var html = compile({value:"<a>"});   //渲染
    console.log(html)
    var compile = _.template("<% console.log('执行JS逻辑代码') %>");   //模板函数   编译
    var html = compile();   //渲染
    //console.log(html)

    //7.with性能优化
    var compile = _.template("with性能优化': <%= info.name %> ",{variable:"info"});   //模板函数   编译
    var html = compile({name:"LQ is fastest!"});   //渲染
    console.log(html)
</script>
</body>
</html>